<div class="col-md-12 navbar">
	<% if @user %>
		<%= link_to 'Logout', logout_path, method: :delete %>
	<% else %>
		<%= link_to 'Sign Up', sign_up_path %>
		<%= link_to 'Sign In', sign_in_path %>
	<% end %>
</div>
